<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<title>Gopad</title>

		<meta content="Etherpad for markdown with Go" name="description" />
		<meta content="Gopad Team" name="author" />

		<base href="{{ .Prefix }}" />
		{{ range .Javascripts -}}
		<script type="module" crossorigin src="{{ $.Prefix }}{{ . }}"></script>
		{{ end -}}
		{{- range .Stylesheets -}}
		<link rel="stylesheet" crossorigin href="{{ $.Prefix }}{{ . }}">
		{{- end }}
		<link rel="icon" type="image/svg+xml" href="{{ .Prefix }}favicon.svg" />
	</head>
	<body>
		<noscript>
			<strong>
				We're sorry but web doesn't work properly without JavaScript enabled. Please enable it to continue.
			</strong>
		</noscript>
		<div id="app"></div>
	</body>
</html>
