---
name: general

"on":
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  frontend:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        id: source
        uses: actions/checkout@1d96c772d19495a3b5c517cd2bc0cb401ea0529f # v4

      - name: Setup nodejs
        id: nodejs
        uses: actions/setup-node@v4
        with:
          node-version: 18
          cache: npm

      - name: Run install
        id: deps
        run: npm install --ci

      - name: Run lint
        id: lint
        run: npm run lint

      # - name: Run unittest
      #   id: unit
      #   run: npm run test

      - name: Run build
        id: build
        run: npm run build

      - name: Upload frontend
        uses: actions/upload-artifact@v4
        with:
          name: frontend
          path: static/
          retention-days: 1
          if-no-files-found: error

  backend:
    runs-on: ubuntu-latest
    needs: frontend

    steps:
      - name: Checkout source
        id: source
        uses: actions/checkout@1d96c772d19495a3b5c517cd2bc0cb401ea0529f # v4

      - name: Setup golang
        id: golang
        uses: actions/setup-go@v5
        with:
          go-version: ^1.19.0

      - name: Fetch frontend
        uses: actions/download-artifact@v4
        with:
          name: frontend
          path: static/

      - name: Run assets
        id: assets
        run: make assets

      - name: Run vet
        id: vet
        run: make vet

      - name: Run staticcheck
        id: staticcheck
        run: make staticcheck

      - name: Run lint
        id: lint
        run: make lint

      - name: Run test
        id: test
        run: make test

      - name: Run build
        id: build
        run: make build

      - name: Coverage report
        id: codacy
        if: github.ref == 'refs/heads/master'
        uses: codacy/codacy-coverage-reporter-action@v1
        with:
          project-token: ${{ secrets.CODACY_PROJECT_TOKEN }}
          coverage-reports: coverage.out
          force-coverage-parser: go

...
